@import ".././utils/variables";
@import ".././utils/mixins";

.best{
  margin-right: auto;
  margin-left: auto;
  height: 70vh;
  width: 90vw;
  min-width: 600px; min-height: 380px;  
  max-width: 1500px; max-height: 500px;
  background-image: url(./Images/background.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border:2px solid $second-color;
  border-radius: 20px 20px;
}

.best-movie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.best-title {
  font-family: "Arial Black";
  font-size: 1.8em;
  text-align: center;
  height: 8vh;
  width: 100%;
  margin-bottom: 0;
}
    
.best-description {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
  
  .description-text {
    height: 100vh;
    width: 100vw;
    min-width: 150px; min-height: 200px;  
    max-width: 90%; max-height: 250px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  .description-text div{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25%;
  }
  .description-text div p {
    width: 50%;
    height: 70%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 8vh;
  }

  .bestFront{
    width: 35vh; height: 50vh;
    max-width: 200px; max-height: 300px;
    min-height: 100px;
    object-fit: contain; 
  }
  @media screen and (max-width: 900px)
{
    .bestFront
    {
      width: 15vh; height: 30vh;
      min-width: 70px;
    }
    .best-title{
      font-size: 1.2em;
    }
    .description-text div p {
      font-size: 0.9em;
      line-height: 4vh;
      font-weight: bold;
    } 
}

.buttons{
  width: 70%;
  max-width: 964px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 6%
}
.play:hover{
    background-color: #f15fa3;
}
  
  .play{
    display: flex;
    justify-content: center;
    align-items: center;
    @include second-perimeter;
    background-color: white;
    width: 140px;
    height: $button-height;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  }
  
  .play img {
      width: 20px; height: 20px;
      object-fit: contain;
      position: relative;
      right: 10%;
  }

  .play:hover{
    background-color: #f15fa3;
    color: white;
  }
  
  
  .infos {
    display: flex;
    justify-content: center;
    align-items: center;
    @include second-perimeter;
    background-color: white;
    width: 140px;
    height: $button-height;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  }


  .infos:hover{
    background-color: #f15fa3;
    color: white;
}
  