@import ".././utils/variables";
@import ".././utils/mixins";

body {
  background-color: $body-background;
  font-family: "junglefeverregular", "Arial", "berkshire_swashregular", "Arial Black", "Courier New";
  color: black;
}

#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal {
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 1000px;
  height: 95vh;
  max-height: 550px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 3px solid $third-color;
  border-radius: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-size: 0.8em;
  animation-name: animatemodal;
  animation-duration: 0.4s;
}

#modal h2 {
  width: 100%;
  background-color: $header-background;
  text-align: center;
  border-radius: 20px;
  border: 2px solid $third-color;
}

.modal-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  border-radius: 20px;
  border: 2px solid $third-color;
  font-size: 0.9em;
  padding: 10px;
  background-color: $header-background;
}

table{
  border-collapse: separate;
  width: 65%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0 1% 0 1%;
}


tr {
  font-size: 0.9em;
  padding: 0;
  min-height: 35px;
}
td{
  padding: 0 2% 0 2%;  
}

.modal-category{
  font-size: 1.3em;
  font-weight: bold;
  border: 2px solid $third-color;
  border-radius: 30px;
  border-spacing: 0px;
  margin: 0 2% 0 2%;
  height: 30px;
  background-color: $header-background;
  color: $second-color;
}

.modal-img{
  width: 20%;
  position: relative;
  left: 4%;
}
.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#close-btn {
  align-self: flex-end;
  border: 3px solid $third-color;
  border-radius: 20px 20px;
}

#close-btn:hover {
  cursor: pointer;
  color: #ff0000;
}

@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}