$first-color: #ffffff;
$second-color: #cc0000;
$third-color: #e60073;

$body-width: 95%;
$best-height: 500px;
$body-background : #000000;
$play-background: #a6a6a6;
$info-background: #a6a6a6;
$header-background:#ffe6e6;

$first-margin: 10px;
$first-padding: 10px;
$second-margin: 5px;
$second-padding: 5px;
$third-margin: 2px;
$third-padding: 2px;

$button-height: 30px;
$head-margin: 15px;
$head-logo: 20vh, 25vw;
$head-logo-min: 30px, 30px;
$head-logo-max: 70px, 70px;

$button-police: 0.7em;

