@font-face {
  font-family: 'berkshire_swashregular';
  src: url("berkshireswash-regular-webfont.eot");
  src: url("berkshireswash-regular-webfont.eot?#iefix") format("embedded-opentype"), url("berkshireswash-regular-webfont.woff2") format("woff2"), url("berkshireswash-regular-webfont.woff") format("woff"), url("berkshireswash-regular-webfont.ttf") format("truetype"), url("berkshireswash-regular-webfont.svg#berkshire_swashregular") format("svg");
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.header {
  width: 95vw;
  height: 30vh;
  min-width: 600px;
  min-height: 100px;
  max-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe6e6;
  border: 2px solid #cc0000;
  border-radius: 20px 20px;
  margin: auto;
  margin-bottom: 20px;
}

.header__name__logo img {
  width: 20vh;
  height: 25vw;
  min-width: 70px;
  min-height: 40px;
  max-width: 125px;
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  margin: 10px 10px 8px 10px;
  border: 2px solid #cc0000;
  border-radius: 5px 5px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  color: black;
  position: relative;
  right: 12%;
}

.header__menu__home {
  font-size: 1.5em;
  font-weight: bold;
  margin: 2px 10px 2px 10px;
}

.header__menu__cat {
  margin: 2px 10px 2px 10px;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__icons__search img {
  width: 35px;
  height: 35px;
  margin: 15px 10px 10px 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__icons__user img {
  width: 30px;
  height: 30px;
  margin: 15px 10px 10px 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.best {
  margin-right: auto;
  margin-left: auto;
  height: 70vh;
  width: 90vw;
  min-width: 600px;
  min-height: 380px;
  max-width: 1500px;
  max-height: 500px;
  background-image: url(./Images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #cc0000;
  border-radius: 20px 20px;
}

.best-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.best-title {
  font-family: "Arial Black";
  font-size: 1.8em;
  text-align: center;
  height: 8vh;
  width: 100%;
  margin-bottom: 0;
}

.best-description {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.description-text {
  height: 100vh;
  width: 100vw;
  min-width: 150px;
  min-height: 200px;
  max-width: 90%;
  max-height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.description-text div {
  width: 50%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 25%;
}

.description-text div p {
  width: 50%;
  height: 70%;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 8vh;
}

.bestFront {
  width: 35vh;
  height: 50vh;
  max-width: 200px;
  max-height: 300px;
  min-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 900px) {
  .bestFront {
    width: 15vh;
    height: 30vh;
    min-width: 70px;
  }
  .best-title {
    font-size: 1.2em;
  }
  .description-text div p {
    font-size: 0.9em;
    line-height: 4vh;
    font-weight: bold;
  }
}

.buttons {
  width: 70%;
  max-width: 964px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 6%;
}

.play:hover {
  background-color: #f15fa3;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: white;
  width: 140px;
  height: 30px;
  font-weight: bold;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.play p {
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  left: 10%;
  font-size: 0.7em;
}

.play img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  right: 10%;
}

.play:hover {
  background-color: #f15fa3;
  color: white;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: white;
  width: 140px;
  height: 30px;
  font-weight: bold;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.infos p {
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 0.7em;
  padding: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.infos:hover {
  background-color: #f15fa3;
  color: white;
}

body {
  background-color: #000000;
  font-family: "junglefeverregular", "Arial", "berkshire_swashregular", "Arial Black", "Courier New";
  color: black;
}

#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal {
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 1000px;
  height: 95vh;
  max-height: 550px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 3px solid #e60073;
  border-radius: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 0.8em;
  -webkit-animation-name: animatemodal;
          animation-name: animatemodal;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

#modal h2 {
  width: 100%;
  background-color: #ffe6e6;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #e60073;
}

.modal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80%;
  border-radius: 20px;
  border: 2px solid #e60073;
  font-size: 0.9em;
  padding: 10px;
  background-color: #ffe6e6;
}

table {
  border-collapse: separate;
  width: 65%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0 1% 0 1%;
}

tr {
  font-size: 0.9em;
  padding: 0;
  min-height: 35px;
}

td {
  padding: 0 2% 0 2%;
}

.modal-category {
  font-size: 1.3em;
  font-weight: bold;
  border: 2px solid #e60073;
  border-radius: 30px;
  border-spacing: 0px;
  margin: 0 2% 0 2%;
  height: 30px;
  background-color: #ffe6e6;
  color: #cc0000;
}

.modal-img {
  width: 20%;
  position: relative;
  left: 4%;
}

.modal-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#close-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 3px solid #e60073;
  border-radius: 20px 20px;
}

#close-btn:hover {
  cursor: pointer;
  color: #ff0000;
}

@-webkit-keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

header {
  width: 95%;
  margin: auto;
  background-color: #ffe6e6;
  border: 2px solid #cc0000;
  border-radius: 20px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  min-width: 1200px;
  margin: auto;
}

.category h3 {
  width: 95%;
  margin: 20px auto;
  color: red;
  text-decoration: underline;
  background-color: black;
}

@media screen and (min-width: 1400px) {
  .category h3 {
    text-align: center;
  }
}

.best-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1175px;
}

.horror-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1175px;
}

.animation-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1175px;
}

.action-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1175px;
}

.carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  padding-left: 0.6%;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.carrousel .best-movies-product {
  height: 90%;
  margin: 0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #732673;
}

.carrousel .horror-movies-product {
  height: 90%;
  margin: 0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #732673;
}

.carrousel .animation-movies-product {
  height: 90%;
  margin: 0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 0px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #732673;
}

.carrousel .action-movies-product {
  height: 90%;
  margin: 0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #732673;
}

.slide-img {
  height: 300px;
  position: relative;
}

.slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detail-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  vertical-align: middle;
}

.under-title {
  font-weight: bold;
  margin: 4%;
  vertical-align: middle;
}

.product-date {
  font-size: 0.9em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 2%;
  vertical-align: baseline;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  width: 83%;
  height: 100%;
  background-color: rgba(92, 95, 236, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.slide-img:hover .overlay {
  visibility: visible;
  -webkit-animation: fade 0.8s;
          animation: fade 0.8s;
}

.infos-btn {
  width: 160px;
  height: 40px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  color: #252525;
  font-weight: 700;
  font-family: calibri;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.infos-btn:hover {
  color: #FFFFFF;
  background-color: #f15fa3;
}

.play-btn {
  width: 160px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  color: #252525;
  font-weight: 700;
  font-family: calibri;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.play-btn:hover {
  color: #FFFFFF;
  background-color: #f15fa3;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  background-color: black;
  padding: 0px;
  border-color: black;
  border-radius: 100%;
  padding: 3px;
}

button:hover {
  background-color: white;
}

.right-button {
  margin-left: 10px;
}

.left-button {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */